body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #007BFF; /* 蓝色 */
  font-size: 2.5rem; /* 更大的字体 */
  margin-bottom: 1.25rem; /* 20px */
}

.container {
  position: relative; /* 为绝对定位的按钮提供参考 */
  width: 100%;
  max-width: 800px; /* 800px */
  margin: 0 auto;
  padding: 20px;
}

.textarea-container {
  position: relative; /* 为绝对定位的按钮提供参考 */
}

textarea#noteInput {
  width: 100%;
  height: 100px; /* 你可以根据需要调整高度 */
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  box-sizing: border-box;
  transition: background-color 0.3s;
}

textarea#noteInput:hover {
  background-color: #cce4ff;
  color: black;
}

button {
  font-family: 'Noto Sans SC', sans-serif; /* 使用思黑体 */
  background-color: #007BFF; /* 蓝色 */
  color: white;
  border: none;
  border-radius: 5px; /* 修改为圆角 */
  width: 100px; /* 按钮宽度 */
  height: 40px; /* 按钮高度 */
  font-size: 16px; /* 16px */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 添加阴影 */
  transition: background-color 0.3s, transform 0.2s; /* 添加过渡效果 */
}

button:hover {
  background-color: #0056b3; /* 深蓝色 */
  transform: scale(1.05); /* 悬停时放大 */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; /* 笔记列表项的背景色 */
  margin-bottom: 10px; /* 10px */
  padding: 10px; /* 10px */
  border: 1px solid #ccc; /* 1px */
  border-radius: 5px; /* 5px */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  position: relative; /* 为下拉菜单定位 */
}

.note-content {
  flex: 1;
  margin-right: 10px; /* 10px */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #f9f9f9; /* 设置背景色与textarea一致 */
  padding: 10px; /* 10px */
  border-radius: 5px; /* 5px */
}

.timestamp-dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timestamp {
  font-size: 0.8em;
  color: #888;
  margin-right: 10px; /* 增加时间戳和下拉菜单之间的间距 */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  font-family: 'Noto Sans SC', sans-serif; /* 使用思源黑体 */
  background: none; /* 移除背景 */
  color: #007BFF; /* 蓝色 */
  border: none;
  font-size: 0.25rem; /* 调整字体大小 */
  cursor: pointer;
  padding: 0; /* 移除内边距 */
  margin: 0; /* 移除外边距 */
  transition: color 0.3s; /* 添加过渡效果 */
  margin-left: 10px; /* 增加按钮和时间戳之间的间距 */
}

.dropdown-button::after {
  content: '⋮'; /* 使用竖向省略号 */
  font-size: 0.375rem; /* 调整字体大小 */
  color: #007BFF; /* 蓝色 */
  display: inline-block;
  vertical-align: middle;
  line-height: 1; /* 确保竖向省略号垂直居中 */
}

.dropdown-content {
  display: none; /* 默认隐藏 */
  position: absolute;
  right: 0;
  background-color: #fff;
  min-width: 6.25rem; /* 100px */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); /* 添加阴影 */
  z-index: 1;
  border-radius: 0.3125rem; /* 5px */
  border: 0.0625rem solid #ccc; /* 1px */
}

.dropdown-content a {
  color: black;
  padding: 0.625rem; /* 10px */
  text-decoration: none;
  display: block;
  border-radius: 0.3125rem; /* 5px */
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block; /* 悬停时显示 */
}

.edit-input {
  width: 100%;
  margin-right: 10px; /* 10px */
  padding: 5px; /* 5px */
  font-size: 1rem; /* 16px */
}

#searchInput {
  width: 100%; /* 确保宽度与其他元素一致 */
  background-color: #f9f9f9; /* 设置背景色 */
  padding: 10px; /* 10px */
  margin-bottom: 10px; /* 10px */
  border: 1px solid #ccc; /* 1px */
  border-radius: 5px; /* 5px */
  font-size: 16px; /* 16px */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  box-sizing: border-box; /* 确保内边距和边框包含在元素的总宽度和高度内 */
}

#searchInput:hover {
  background-color: #cce4ff; /* 悬停时变成较浅的蓝色 */
  color: black; /* 保持文本颜色为黑色以确保可读性 */
}

.highlight {
  background-color: #cce4ff; /* 高亮显示的背景颜色 */
}

#addNoteButton {
  align-self: flex-end;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

#addNoteButton:hover {
  background-color: #0056b3;
}

.search-container {
  margin-bottom: 20px;
}

#searchInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.small-button {
  font-family: 'Noto Sans SC', sans-serif; /* 使用思黑体 */
  background: none;
  color: white;
  border: none;
  font-size: 14px; /* 调整字体大小 */
  cursor: pointer;
  display: inline;
  transition: background-color 0.3s, transform 0.2s; /* 添加过渡效果 */
}

.small-button::after {
  content: '...'; /* 使用伪元素设置内容 */
  font-size: 14px; /* 调整字体大小 */
  color:  #007bff; /* 设置文本颜色 */
}

.small-button:hover {
  background-color:  #007bff; /* 深蓝色 */
  transform: scale(1.05); /* 悬停时放大 */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.user-info {
  display: flex;
  align-items: center;
}

#userEmail {
  margin-right: 10px;
  font-size: 14px;
  color: #333;
}

.logout-button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}

.logout-button:hover {
  background-color: #0056b3;
}
