body {
  font-family: 'Noto Sans SC', sans-serif; /* 使用思源黑体 */
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f8ff; /* 更亮的背景颜色 */
  color: #333;
}

h1 {
  text-align: center;
  color: #007BFF; /* 蓝色 */
  font-size: 2.5rem; /* 更大的字体 */
  margin-bottom: 1.25rem; /* 20px */
}

.container {
  position: relative; /* 为绝对定位的按钮提供参考 */
  width: 100%;
  max-width: 800px; /* 800px */
  margin: 0 auto;
}

.textarea-container {
  position: relative; /* 为绝对定位的按钮提供参考 */
}

textarea {
  width: 100%;
  height: 100px; /* 100px */
  margin-bottom: 10px; /* 10px */
  padding: 10px; /* 10px */
  border: 1px solid #ccc; /* 1px */
  border-radius: 5px; /* 5px */
  font-size: 16px; /* 16px */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  background-color: #f9f9f9; /* 设置背景色 */
  box-sizing: border-box; /* 确保内边距和边框包含在元素的总宽度和高度内 */
  transition: background-color 0.3s; /* 添加过渡效果 */
}

textarea:hover {
  background-color: #cce4ff; /* 悬停时变成较浅的蓝色 */
  color: black; /* 保持文本颜色为黑色以确保可读性 */
}

button {
  font-family: 'Noto Sans SC', sans-serif; /* 使用思黑体 */
  background-color: #007BFF; /* 蓝色 */
  color: white;
  border: none;
  border-radius: 50%; /* 圆形按钮 */
  width: 40px; /* 按钮宽度 */
  height: 40px; /* 按钮高度 */
  font-size: 24px; /* 24px */
  cursor: pointer;
  position: absolute;
  right: 10px; /* 距离右边20px */
  bottom: 20px; /* 距离底部30px */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  transition: background-color 0.3s; /* 添加过渡效果 */
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3; /* 深蓝色 */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; /* 笔记列表项的背景色 */
  margin-bottom: 10px; /* 10px */
  padding: 10px; /* 10px */
  border: 1px solid #ccc; /* 1px */
  border-radius: 5px; /* 5px */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  position: relative; /* 为下拉菜单定位 */
}

.note-content {
  flex: 1;
  margin-right: 10px; /* 10px */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #f9f9f9; /* 设置背景色与textarea一致 */
  padding: 10px; /* 10px */
  border-radius: 5px; /* 5px */
}

.timestamp-dropdown-container {
  display: flex;
  align-items: center;
  overflow: hidden; /* 防止内容溢出 */
  white-space: nowrap; /* 防止换行 */
  margin-left: auto;
  padding: 5px 10px
}

.timestamp {
  font-size: 0.6em; /* 12.8px */
  color: #888;
  margin-right: 10px; /* 10px */
  flex-shrink: 0;
}

.dropdown {
  display: flex;
  align-items:end; /* 垂直居中 */
  background: none; /* 移除背景 */
  border: none; /* 移除边框 */
  padding: 0; /* 移除内边距 */
  margin: 0; /* 移除外边距 */
  margin-left: 30px; /* 确保与timestamp之间有间距 */
}

.dropdown button {
  font-family: 'Noto Sans SC', sans-serif; /* 使用思源黑体 */
  background: none; /* 移除背景 */
  color: #007BFF; /* 蓝色 */
  border: none;
  font-size: 1.125rem; /* 18px */
  font-weight: bold; /* 加粗字体 */
  cursor: pointer;
  padding: 0; /* 移除内边距 */
  margin: 0; /* 移除外边距 */
  transition: color 0.3s; /* 添加过渡效果 */
  position:absolute;
  right: 10px;
  top:50%;
  transform: translateY(-50%);
}

.dropdown button:hover {
  color: #0056b3; /* 深蓝色 */
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  min-width: 6.25rem; /* 100px */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); /* 添加阴影 */
  z-index: 1;
  border-radius: 0.3125rem; /* 5px */
  border: 0.0625rem solid #ccc; /* 1px */
}

.dropdown-content a {
  color: black;
  padding: 0.625rem; /* 10px */
  text-decoration: none;
  display: block;
  border-radius: 0.3125rem; /* 5px */
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.edit-input {
  width: 100%;
  margin-right: 10px; /* 10px */
  padding: 5px; /* 5px */
  font-size: 1rem; /* 16px */
}

#searchInput {
  width: 100%; /* 确保宽度与其他元素一致 */
  background-color: #f9f9f9; /* 设置背景色 */
  padding: 10px; /* 10px */
  margin-bottom: 10px; /* 10px */
  border: 1px solid #ccc; /* 1px */
  border-radius: 5px; /* 5px */
  font-size: 16px; /* 16px */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  box-sizing: border-box; /* 确保内边距和边框包含在元素的总宽度和高度内 */
}

#searchInput:hover {
  background-color: #cce4ff; /* 悬停时变成较浅的蓝色 */
  color: black; /* 保持文本颜色为黑色以确保可读性 */
}

.highlight {
  background-color: #cce4ff; /* 高亮显示的背景颜色 */
}